aside#logo div a {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: red url(/images/Devoxx4Kids.png) center center no-repeat;
  background-size: 100% 100%;
}