body {
  background-color: #f1f1f1;
}


aside#logo {
  background-color: #f1f1f1;
}

aside#logo div {
  background-color: #f1f1f1;
}

aside#logo div a {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  background: url(/images/Devoxx4Kids.png) center center no-repeat;
  background-size: 100% 100%;
}

#octopress_linkback {
	background-color: #f1f1f1;	
}