body {
  background-color: #f1f1f1;
}


aside#logo {
  background-color: #f1f1f1;
}

aside#logo div {
  background-color: #f1f1f1;
}

aside#logo div a {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  background: url(/images/Devoxx4Kids.png) center center no-repeat;
  background-size: 100% 100%;
}

#octopress_linkback {
	background-color: #f1f1f1;	
}

img.premium {
	width: 100px;
	margin: 0px 10px;
}

img.saison {
	width: 90px;
	margin: 0px 10px;
}

article.post hr {
	max-width: 500px;
	margin: 2em 0em;
	background: #E2E2E2;
	border-style: solid;
	height: 1px;
	border: 0; 
}